body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sub-header sub-header sub-header"
        "text text sidebar"
        "sub-footer sub-footer sub-footer";
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 20px;
    width: 60%;
}

.header {
    grid-area: header;
    background: red;
    height: 100px;
}

.sub-header {
    grid-area: sub-header;
    background: purple;
    height: 50px;
}

.text-with-sidebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.text {
    background: lightgray;
    height: 200px;
}

.sidebar {
    background: red;
    height: 200px;
}

.sub-footer {
    grid-area: sub-footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: orange;
    height: 100px;
}

.sub-footer-item {
    background: lightgray;
    height: 100%;
}
